.header{
    position: sticky;
    top: 0;
    background-color: #fff;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    z-index: 999;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__left > img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}
.header__search{
    display: flex;
    align-items: center;
    padding: 18px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}
.header__search > input {
    border: none;
    outline: 0; 
    background: none;
}

.header__right{
    display: flex;
    
}