.inputOptions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    color: gray;
    cursor: pointer;
}
.inputOptions:hover{
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
}
.inputOptions > h4{
    margin-left: 5px;
}

@media (max-width: 600px) {
    .inputOptions{
        padding: 5px;
    }
    .inputOptions > h4{
        margin-left: 3px;
        font-size: 0.8rem;
    }
}