*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  background-color: #f4f2ee;
}
.app_body{
  display: flex;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1400px;
}